<div class="row">
    <div class="col-sm-3 clickable"></div>
    <div class="col-sm-3 clickable"></div>
    <div class="col-sm-3 clickable"></div>
    <single-button text="/" (action)="applyAction($event)"></single-button>
</div>
<div class="row">
    <single-button text="7" (action)="applyAction($event)"></single-button>
    <single-button text="8" (action)="applyAction($event)"></single-button>
    <single-button text="9" (action)="applyAction($event)"></single-button>
    <single-button text="x" (action)="applyAction('*')"></single-button>
</div>
<div class="row">
    <single-button text="4" (action)="applyAction($event)"></single-button>
    <single-button text="5" (action)="applyAction($event)"></single-button>
    <single-button text="6" (action)="applyAction($event)"></single-button>
    <single-button text="-" (action)="applyAction($event)"></single-button>
</div>
<div class="row">
    <single-button text="1" (action)="applyAction($event)"></single-button>
    <single-button text="2" (action)="applyAction($event)"></single-button>
    <single-button text="3" (action)="applyAction($event)"></single-button>
    <single-button text="+" (action)="applyAction($event)"></single-button>
</div>
<div class="row">
    <div class="col-sm-3 clickable"></div>
    <single-button text="0" (action)="applyAction($event)"></single-button>
    <div class="col-sm-3 clickable"></div>
    <single-button text="=" (action)="applyAction($event)"></single-button>
</div>
